{%  extends 'accounts/main.html' %}

{% block content %}

{%  include 'accounts/status.html' %}

<br>

<div class="row">
	<div class="col-md-5">
		<h5>CUSTOMERS:</h5>
		<hr>
		<div class="card card-body">
			<a class="btn btn-primary  btn-sm btn-block" href="">Create Teacher</a>
			<table class="table table-sm">
				<tr>
					<th></th>
					<th>Teacher</th>
					<th>Phone</th>
				</tr>

				{% for teacher in students %}
					<tr>
						<td><a class="btn btn-sm btn-info" href="{% url 'teacher' teacher.id %}">View</a></td>
						<td>{{teacher.name}}</td>
						<td>{{teacher.phone}}</td>
					</tr>
				{% endfor %}

			</table>
		</div>
	</div>

	<div class="col-md-7">
		<h5>LAST 5 ORDERS</h5>
		<hr>
		<div class="card card-body">
			
			<table class="table table-sm">
				<tr>
					<th>Student</th>
					<th>Date Orderd</th>
					<th>Status</th>
					<th>Update</th>
					<th>Remove</th>
				</tr>

				{% for subject in orders %}
					<tr>
						<td>{{subject.student}}</td>
						<td>{{subject.date_created}}</td>
						<td>{{subject.status}}</td>
						<td><a class="btn btn-sm btn-info" href="{% url 'update_order' subject.id %}">Update</a></td>

						<td><a class="btn btn-sm btn-danger" href="{% url 'delete_order' subject.id %}">Delete</a></td>

					</tr>
				{% endfor %}

		
			</table>
		</div>
	</div>

</div>

{% endblock %}

