{%  extends 'accounts/main.html' %}

{% block content %}

	<br>

<div class="row">
	<div class="col-md">
		<div class="card card-body">
			<h5>Student:</h5>
			<hr>
			<a class="btn btn-outline-info  btn-sm btn-block" href="">Update Teacher</a>
			<a class="btn btn-outline-info  btn-sm btn-block" href="">Place Subject</a>

		</div>
	</div>

	<div class="col-md">
		<div class="card card-body">
			<h5>Contact Information</h5>
			<hr>
			<p>Name: {{student.name}}</p>
			<p>Phone: {{student.phone}}</p>
		</div>
	</div>

	<div class="col-md">
		<div class="card card-body">
			<h5>Total Subjects</h5>
			<hr>
			<h1 style="text-align: center;padding: 10px"></h1>
		</div>
	</div>
</div>


<br>

<div class="row">
	<div class="col-md">
		<div class="card card-body">
			<table class="table table-sm " id="tests-table">
				<tr>
					<th>Subject</th>
					<th>Teacher</th>
					<th>Midterm</th>
					<th>finals</th>
					<th>Average</th>
					<th>Midterm</th>
					<th>finals</th>
					<th>Average</th>

				{% for student in grades %}

				<tr>
					<td>{{ student.subject }}</td>
					<td>{{student.teacher}}</td>
					<td>{{student.FSMTgrades}}</td>
					<td>{{student.FSFgrades}}</td>
					<td>{{student.FSgrades}}</td>
					<td>{{student.SSMTgrades}}</td>
					<td>{{student.SSFgrades}}</td>
					<td>{{student.SFgrades}}</td>
											
					
				{% endfor %} 

			</table>
		</div>
	</div>
</div>

{% endblock %}