{%  extends 'accounts/main.html' %}

{% block content %}
<style>
	p{
		border: solid 10px;
		padding: 20px;
		width: 70rem;
		margin: auto;
		background-color: aquamarine;
	}
	h1{
		margin-left: 110px;
	}
	</style>
<br>
<h1>IETI Hymm</h1>
<p>

	Beloved Alma Mater, we offer love and cheers 
	Gold, Green and White honor and service they stand 
	Gold is for faith, Green is for hope and White is for charity of IETI.
	
	Our parents guide and love us;
	Our school molds and shapes us;
	Good service is our goal,
	Leading our nation is moving on
	
	Beloved Alma Mater, we offer love and cheers 
	Gold, Green and White honor and service they stand 
	Gold is for faith, Green is for hope and White is for charity of the school that cares.
	
	Beloved Alma Mater, dear IETI (2x)
	</p>
<br>
<h1>IETI Hymm</h1>
	<p>
	
		Beloved Alma Mater, we offer love and cheers 
		Gold, Green and White honor and service they stand 
		Gold is for faith, Green is for hope and White is for charity of IETI.
		
		Our parents guide and love us;
		Our school molds and shapes us;
		Good service is our goal,
		Leading our nation is moving on
		
		Beloved Alma Mater, we offer love and cheers 
		Gold, Green and White honor and service they stand 
		Gold is for faith, Green is for hope and White is for charity of the school that cares.
		
		Beloved Alma Mater, dear IETI (2x)
		</p>
<h1>IETI Hymm</h1>
	<p>
		
		Beloved Alma Mater, we offer love and cheers 
		Gold, Green and White honor and service they stand 
		Gold is for faith, Green is for hope and White is for charity of IETI.
		
		Our parents guide and love us;
		Our school molds and shapes us;
		Good service is our goal,
		Leading our nation is moving on
		
		Beloved Alma Mater, we offer love and cheers 
		Gold, Green and White honor and service they stand 
		Gold is for faith, Green is for hope and White is for charity of the school that cares.
		
		Beloved Alma Mater, dear IETI (2x)
		</p>
		
	

{% endblock %}

