{%  extends 'accounts/main.html' %}
{%  include 'accounts/status.html' %}
{% block content %}

	<br>

<div class="row">
	<div class="col-md">
		<div class="card card-body">

			<a class="btn btn-outline-info  btn-sm btn-block" href="">Update Teacher</a>
			<a class="btn btn-outline-info  btn-sm btn-block" href="{% url 'create_order' teacher.id %}">Place Subject</a>

		</div>
	</div>

	<div class="col-md">
		<div class="card card-body">
			<h5>Contact Information</h5>
			<hr>
			<p>Name: {{teacher.name}}</p>
			<p>Phone: {{teacher.phone}}</p>
		</div>
	</div>

	<div class="col-md">
		<div class="card card-body">
			<h5>Total Students</h5>
			<hr>
			<h1 style="text-align: center;padding: 10px">{{total_students}}</h1>
			<h1 style="text-align: center;padding: 10px"></h1>
		</div>
	</div>
</div>


<br>
<div class="row">
	<div class="col">
		<div class="card card-body">

			<form method="get">
				{{myFilter.form}}

		    <button class="btn btn-primary" type="submit">Search</button>
		  </form>

		</div>
	</div>
	
</div>
<br>

<div class="row">
	<div class="col-md">
		<div class="card card-body">
			<table class="table table-sm " id="tests-table">
				<tr>
					<th>Student</th>
					<th>Strand</th>
					<th>Year Level</th>
					<th>Section</th>
					<th>Subject</th>
					<th>Midterm</th>
					<th>finals</th>
					<th>Average</th>
					<th>Midterm</th>
					<th>finals</th>
					<th>Average</th>
					<th>Mark</th>

				</tr>

				{% for student in subjects %}

				<tr>
					<td>{{ student.student }}</td>
					<td>{{student.student.section}}</td>
					<td>{{student.student.year_level}}</td>
					<td>{{student.student.section}}</td>
					<td>{{ student.subject }}</td>
					<td>{{student.FSMTgrades}}</td>
					<td>{{student.FSFgrades}}</td>
					<td>{{student.FSgrades}}</td>
					<td>{{student.SSMTgrades}}</td>
					<td>{{student.SSFgrades}}</td>
					<td>{{student.SFgrades}}</td>
					<td><a class="btn btn-sm btn-info" href="{% url 'update_order' student.id %}">Mark</a></td>

				</tr>
											
					
				{% endfor %} 

			</table>
		</div>
	</div>
</div>

{% endblock %}