{% extends 'base.html' %}

{% block content %}

 
    <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Strand</th>
                    <th>Section</th>
                    <th>Year</th>
                    <th>Sex</th>
                    <th>Grades</th>
                    <th>update</th>
                </tr>
         {% for list in student %}
                <tr>
                    <td>{{list.name}}</td>
                    <td>{{list.strand}}</td>
                    <td>{{list.section}}</td>
                    <td>{{list.year}}</td>
                    <td>{{list.sex}}</td>
                    <td>{{list.grades}}</td>
                    <td><a href="">update</a></td>
                </tr>
         {% endfor %}
        </table>
    </div>
   
{% endblock content %}