{% extends 'base.html' %}

{% block content %}

 
    <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
            <thead>
                <tr>
                    <th>Subjects</th>
                    <th>mid terms</th>
                    <th>finals</th>
                    <th>Subject</th>
                    <th>mid terms</th>
                    <th>finals</th>
                    <th>update</th>
                </tr>
         {% for subject in subject %}
                <tr>
                    <td>{{subject.subject}}</td>
                    <td>{{subject.subject}}</td>
                    <td>{{subject.subject}}</td>
                    <td>{{subject.subject}}</td>
                    <td>{{subject.subject}}</td>
                    <td>{{lisubjectst.subject}}</td>
                    <td><a href="">update</a></td>
                </tr>
         {% endfor %}
        </table>
    </div>
   
{% endblock content %}